<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Set Api Full </title>
<style>
    .t{
          width: 50%;
          border: 3px solid green;
          padding: 10px;
          margin: auto;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        
     }
     .t {
        text-align: center;
     }
</style>
</head>
<body>
<strong>
    <div class="t">
    -------- Hello Query Set Api ------</strong>
</div>

</body>
</html>