{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  <style>
    .blogs{
      display: flex  !important;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
    .blog{
      max-width: 300px;
      border-radius: 20px;
      background-color: aqua;
      padding: 30px;
    }
    h1{
      text-align: center;
      color:black;
    }
  </style>

  </head>
<body>
  <h1>Blog</h1>
  <div class="blogs">
  {% for post in posts %}
  <div class="blog">
     <h2>{{post.name}}</h2>
     <p>{{post.title}}</p>
 </div>
 {% endfor %}

</div>
    <div class="container">
        <ul class="pagination">
          {% if posts.has_previous %}
          <li><a href="?page={{posts.previous_page_number}}">Previous</a></li>
          {% endif %}
          <li><a href="?page=1">1</a></li>
          <li><a href="?page=2">2</a></li>
          <li><a href="?page=3">3</a></li>
          <li><a href="?page=4">4</a></li>
          <li><a href="?page=5">5</a></li>
          <li><a href="?page=7">6</a></li>
          <li><a href="?page=8">7</a></li>
          <li><a href="?page=9">8</a></li>
          {% if posts.has_next %}
          <li><a href="?page={{posts.next_page_number}}">Next</a></li>
          {% endif %}
        </ul>
      </div>
</body>
</html>