{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <section class="container">
        <div class="row">
    
            <h1>Django Pagination .... </h1>
    
    
        </div>
    
        <div class="box-paginacao">
          <input type="radio" name="input-paginacao" id="paginacao1" checked>
          <input type="radio" name="input-paginacao" id="paginacao2">
          <input type="radio" name="input-paginacao" id="paginacao3">
          <input type="radio" name="input-paginacao" id="paginacao4">
          <input type="radio" name="input-paginacao" id="paginacao5">
          <input type="radio" name="input-paginacao" id="paginacao6">
          <div class="box-vitrines">
            <ul>
            {% for post in posts %}
              <div class="vitrine1">
                <h2>Pagina 1</h2>
                <li>{{post.id}}</li>
                <li>{{post.name}}</li>
                <li>{{post.title}}</li>
              </div>
             {% endfor %}
            </ul>                  
            <div class="btn-paginacao">
              <ul>
                <li><label for="paginacao1">1</label></li>
                <li><label for="paginacao2">2</label></li>
                <li><label for="paginacao3">3</label></li>
                <li><label for="paginacao4">4</label></li>
                <li><label for="paginacao5">5</label></li>
                <li><label for="paginacao6">6</label></li>
              </ul>
            </div>
          </div>
        </div>
        
      </section>
</body>
</html>