<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Detail Page</title>
</head>
<body>
    <h4><sub>Hi This is Patient Detail Page</sub></h4>
    <div class="sec">
    <h1>Id : </h1>
    <h2>{{patient.id}}</h2>
    <h1>Name : </h1>
    <h2>{{patient.name}}</h2>
    <h1>Age : </h1>
    <h2>{{patient.age}}</h2>
    

    </div>

</body>
</html>